body
{
    font-family: 'Padauk', sans-serif;
    background: #f5dbda;
}
#h_image
{
    width: 100px;
    height: 100px;
}
.main_div
{
    background: #f5dbda;
    padding: 10px;
    margin-top: 15px;
    border: 3px solid white;
}
.main_div label
{
    background: white;
    width: 310px;
    padding: 10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px white;

}
#camera
{
    width: 310px;
    font-size: 16px;
    box-shadow: 5px 5px 18px white;
    border: 1px solid;
}
.main_div button
{
    width: 310px;
    font-size: 16px;
    box-shadow: 5px 5px 18px white;
    border: 1px solid;
}
.footer_output img
{
    width: 70px;
    float: left;
}
.footer_output h4 
{
    background: white;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 18px white;
}
.copy_right_footer {
    position: fixed;
    color: #6c757d;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    line-height: 3;
    text-align: center;
}